:root {
  --font-family: 'Inter', sans-serif;
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  :root {
    --background-colour: #e6e6e6;
    --section-colour: #ececec;
    --article-colour: #ffffff;
    --primary-text: #111827;
    --secondary-text: #6b7280;
    --accent-colour: #126a32;
    --border-colour: #e5e7eb;
    --shadow-colour: #929292;
  }

  img {
    opacity: 1;
    filter: brightness(1) blur(0px);
  }

  .education-article.is-hovered .education-article-background {
    opacity: 0.65;
    filter: brightness(0.7) blur(4px);
  }

  .project-article.is-hovered .project-article-background {
    opacity: 0.65;
    filter: brightness(0.7) blur(4px);
  }

  .contact-image {
    filter: invert(0.3);
  }

  .contact-link.is-hovered .contact-image {
    filter: invert(0);
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #121212;
    --section-colour: #1e1e1e;
    --article-colour: #252525;
    --primary-text: #f8f9fa;
    --secondary-text: #b0b0b0;
    --accent-colour: #6366f1;
    --border-colour: #333333;
    --shadow-colour: #000000;
  }

  img {
    opacity: 1;
    filter: brightness(0.7) blur(0px);
  }

  .education-article.is-hovered .education-article-background {
    opacity: 1;
    filter: brightness(0.45) blur(4px);
  }

  .project-article.is-hovered .project-article-background {
    opacity: 1;
    filter: brightness(0.45) blur(4px);
  }

  .contact-image {
    filter: invert(0.6);
  }

  .contact-link.is-hovered .contact-image {
    filter: invert(1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

/* HEADER */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--section-colour);
  box-shadow: 0 10px 20px var(--shadow-colour);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordmark {
  color: var(--primary-text);
  font-size: 36px;
  font-family: var(--font-family);
  font-weight: 200;
  font-stretch: condensed;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.2s ease;
}

.wordmark:hover {
  opacity: 0.7;
}

header ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px;
  flex-wrap: nowrap;
}

.nav {
  height: min-content;
}

.nav-link {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: var(--secondary-text);
  font-family: var(--font-family);
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 0;
  margin: 0 20px;
  transition: opacity 0.2s ease;
}

.nav-link:hover {
  opacity: 0.7;
}

.active {
  font-weight: bold;
  color: var(--accent-colour);
  border-bottom: 3px solid var(--accent-colour);
}

/* MAIN */
main {
  padding: 20px 40px;
  background-color: var(--background-colour);
}

main section {
  max-width: 900px;
  border-radius: 15px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--section-colour);
}

#about-me {
  max-width: 1100px;
}

#about-me h1 {
  font-family: var(--font-family);
  font-size: 48px;
  color: var(--primary-text);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-title {
  font-family: var(--font-family);
  font-size: 36px;
  color: var(--primary-text);
  margin-top: 0px;
  margin-bottom: 20px;
}

.about-me-text,
.skill-category,
.education-description {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--secondary-text);
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 0px 20px;
}

.about-me-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me-text {
  text-align: justify;
}

.about-me-link-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
  padding: 0px 20px;
  position: relative;
  bottom: 0px;
}

.about-me-link {
  height: fit-content;
  width: 85px;
  text-align: center;
  padding: 5px 10px;
  background-color: var(--section-colour);
  border: 2px solid var(--accent-colour);
  border-radius: 20px;
  color: var(--accent-colour);
  font-family: var(--font-family);
  font-size: 12px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  scale: 1;
  transition: scale 0.15s ease;
}

.about-me-link:hover {
  scale: 1.1;
}

.profile-pic {
  height: 250px;
  width: 250px;
  margin: 20px 0px;
  border-radius: calc(50%);
  border: 3px solid var(--border-colour);
  box-shadow: 0 10px 20px var(--shadow-colour);
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category:last-child {
  margin-bottom: 10px;
}

.skill-list {
  margin: 20px 20px;
}

.skill-category ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.skill-category li {
  background: var(--background-color);
  border: 1px solid var(--border-colour);
  color: var(--secondary-text);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.skill-category li:hover {
  border-color: var(--accent-colour);
  color: var(--accent-colour);
  transform: translateY(-2px);
}

.education-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.education-article {
  height: 400px;
  min-height: 300px;
  width: auto;
  border-radius: 15px;

  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  background-color: var(--article-colour);
  position: relative;
}

.education-article-header {
  width: auto;
  padding: 20px 20px 0px 20px;
  border-bottom: 2px solid var(--border-colour);
}

.education-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-title,
.project-article-title {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--primary-text);
}

.education-title,
.education-date {
  height: fit-content;
  margin: 0px;
}

.education-date {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-colour);
}

.education-subtitle {
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--secondary-text);
  margin-top: 4px;
}

.education-article-body {
  height: 100%;
  width: auto;
  border-radius: 0px 0px 15px 15px;
  padding: 0px 20px;
  position: relative;
}

.education-description {
  color: var(--primary-text);
  line-height: 25px;
  margin: 16px 0px;
  padding-top: 20px;
  position: relative;
  opacity: 0;
  z-index: 1;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.education-description ul {
  margin: 0px;
  position: absolute;
  left: -10px;
}

.education-article.is-hovered .education-description {
  opacity: 1;
  transform: translateY(-20px);
}

.education-link {
  height: fit-content;
  width: 80px;
  text-align: center;
  padding: 5px 10px;
  background-color: var(--section-colour);
  border: 2px solid var(--accent-colour);
  border-radius: 20px;
  color: var(--accent-colour);
  font-family: var(--font-family);
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transform-origin: center center;
  translate: 0px 0px;
  scale: 1;
  transition:
    opacity 0.15s ease,
    translate 0.15s ease,
    scale 0.15s ease;
}

.education-article.is-hovered .education-link {
  opacity: 1;
  translate: 0px -20px;
  pointer-events: auto;
}

.education-link:hover {
  scale: 1.1;
}

.education-article-background {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  clip-path: inset(0 round 0px 0px 15px 15px);
  transition:
    opacity 0.15s ease,
    filter 0.15s ease;
}

.project-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

.project-article {
  height: 400px;
  min-height: 300px;
  width: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--article-colour);
}

.project-article-text-container {
  flex-grow: 1;
  height: auto;
  width: auto;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.project-article-title {
  text-align: center;
  margin: 15px 0px;
  padding: 0px 15px;
  z-index: 1;
  position: relative;
}

.project-article-desc {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--primary-text);
  line-height: 25px;
  margin-top: 36px;
  padding: 10px 20px;
  text-align: center;
  z-index: 1;
  position: relative;
  opacity: 0;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.project-article.is-hovered .project-article-desc {
  opacity: 1;
  transform: translateY(-20px);
}

.project-article-tags {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--primary-text);
  background-color: var(--accent-colour);
  border-radius: 6px 20px 20px 6px;
  padding: 5px 12px;
  margin: 5px 0px;
  position: absolute;
  z-index: 1;
  bottom: 3px;
  left: -5px;
}

.project-article-background {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: inset(0 round 15px 15px 0px 0px);
  transition:
    opacity 0.15s ease,
    filter 0.15s ease;
}

.project-article-button-container {
  height: 60px;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-top: 2px solid var(--border-colour);
}

.project-article-button {
  height: fit-content;
  width: 100px;
  padding: 5px 8px;
  background-color: var(--section-colour);
  border: 2px solid var(--accent-colour);
  border-radius: 20px;
  color: var(--accent-colour);
  font-family: var(--font-family);
  font-size: 12px;
  transition: transform 0.2s ease;
}

.project-article-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#contact .section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  padding: 0px 60px;
}

.contact-link {
  height: auto;
  width: fit-content;
  aspect-ratio: 1;
  border-radius: 15px;
  background-color: var(--article-colour);
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  transition: gap 0.15s ease;
}

.contact-image {
  height: 65%;
  width: 65%;
  transition: transform 0.15s ease;
}

.contact-text {
  color: var(--secondary-text);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  transition:
    transform 0.15s ease,
    color 0.15s ease;
}

.contact-link.is-hovered {
  gap: 5px;
}

.contact-link.is-hovered .contact-image,
.contact-link.is-hovered .contact-text {
  transform: scale(1.1);
  color: var(--primary-text);
}

/* FOOTER */
footer {
  background-color: var(--section-colour);
  padding: 10px 20px;
}

.footer-text {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--secondary-text);
}
